$("#chat_area").html("#{j(render("rooms/chat_area"))}");
$("#chat_form").html("#{j(render("rooms/chat_form"))}");

-# $('#comment_area').html("#{ j(render 'comments/comment') }");
-# $('#comment_form').html("#{ j(render 'comments/form') }");