$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38aef0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #f35500;
$header_border: #e1e1e1;
$header_tags: #787c7b;
$body_color: #F5F5F5;