.tweet-show__comment__title
  .tweet-show__comment--count
    コメント(
    = @comments.count
    )
%ul.tweet-show__comment__items
  - @comments.each do |comment|
    = render "comments/comment", comment: comment