-# $('#comment_area').html("<%= j(render 'comments/comment', comments: @comments) %>");
-# $('#comment_form').html("<%= j(render 'comments/form', tweet: @tweet, comment: @comment) %>");

$('#comment_area').html("#{ j(render 'comments/comment') }");
$('#comment_form').html("#{ j(render 'comments/form') }");


-# $('#likes').html(“#{j(render partial: "items/likes", locals: { item: @item })}");