.wrapper
  %ul.tweet-index
    - @tweets.each do |tweet|
      = render 'tweets/tweet', tweet: tweet
    = paginate @tweets
= link_to new_tweet_path, class: "new-tweet" do
  .new-tweet__btn
    %p.new-tweet__text
      投稿
    .new-tweet__icon
      %i.fas.fa-plus