.wrapper
  - if @tweets.present?
    %ul.tweet-index
      = render partial: 'tweets/tweet', collection: @tweets
    .tweet-index--footer
      = paginate @tweets
  - else
    .text-center
      一致する投稿はありませんでした
= render 'tweets/new_btn'