$("#follow_form").html("#{j(render("relationships/follow"))}");
-# $("#relationships").html("#{ j(render partial: 'relationships/follow', locals: { user: @user })}");
-# $('#relationships').html("#{ j(render 'relationships/follow', user: @user) }");
-# = render 'relationships/follow', user: @user