.contents
  .header
    .header__top
      = link_to "タイトル", root_path, class: 'header__top--title'
      .header__top__userMenu
        %p.header__top__userMenu--name
          名前
        %p.header__top__userMenu--logout
          ログアウト
    .header__menu
      = link_to "ホーム", root_path, class: 'header__menu--home'
      = link_to "投稿する", new_tweet_path, class: "header__menu--new"
      %p.header__menu--search
        検索する
    .header__genre
      .header__genre__item
        %a.header__genre--a
          ジャンル
      .header__genre__item
        %a.header__genre--b
          ジャンル
      .header__genre__item
        %a.header__genre--c
          ジャンル
        

