- if user_signed_in?
  = link_to new_tweet_path, class: "new-tweet color-black" do
    .new-tweet__btn
      %p.new-tweet__text
        投稿
      .new-tweet__icon
        %i.fas.fa-plus
- else
  = link_to users_guest_sign_in_path, method: :post do
    ゲスト
