.wrapper
  .container
    .notification-top
      .notification-top__title
        .notification-top__title__left.notification-top__title--show
          %h2.notification-top__title--name
            通知
        .notification-top__title__right.notification-top__title--down
          %h2.notification-top__title--name 自分の活動
      %ul.notification-top__items
        - if @notifications.exists?
          = render @notifications
          = paginate @notifications
        - else
          -# %p.text-center
          %p.text-center.notification-top__items--none
            通知はありません
      %ul.notification-top__activities
        - if @activities.exists?
          -# 同ページで2回renderすると、正しく読み込まれないためeach文を使用しています
          -# = render @activities
          - @activities.each do |activity|
            = render "activities/activity", activity: activity
          = paginate @activities
        - else
          %p.text-center.notification-top__items--none
            活動はありません
