= link_to "アクティビティ", activities_path
.col-md-6.mx-auto
- notifications = @notifications.where.not(visitor_id: current_user.id)
- if notifications.exists?
    = render notifications
    = paginate notifications
- else
    %p
        通知はありません