.wrapper
  .login
    = form_for(current_user) do |f|
      .login__title
        更新する
      %br
      パスワードの変更をしない場合は入力不要です
      .login__field
      = render "users/form", f: f
      .login__field
        .center
          = f.submit "更新する", class: "btn btn-success"
