.wrapper
  = render "/users/info"
  .tweet-index
    .user-show__select
      .user-show__select__left
        = link_to "最近の投稿", user_path
      .user-show__select__right
        .user-show__select--active.cursor-pointer
          いいね！した投稿
    = render @tweets
    = paginate @tweets