.wrapper
  = render "/users/info"
  .tweet-index
    .user-show__select
      .user-show__select__left
        .user-show__select--active
          最近の投稿
      .user-show__select__right
        = link_to "いいねした投稿", likes_user_path, class: "a-hover"
    = render @tweets
    - unless @tweets.present? # @tweetsがなければtrue（下記を表示）
      投稿がありません
    = paginate @tweets

