= form_with(model: [@tweet, @donation], data: { confirm: '本当に寄付しますか？（一度寄付したら取り消せません）' }, id: "donation-form") do |f|
  .donation-modal--body
    = f.number_field :amount, placeholder: "金額を入力して下さい", class: "donation-modal--body--input"
  .form
    .donation-modal--close
      %i.btn.btn-dark.donation-modal--close--btn
        閉じる
    .donation-modal--submit
      = f.submit "送信する", class: "page-link text-dark d-inline-block donation-modal--submit--btn"