.notification {
  .notice {
    background-color: $light_blue;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: white;
    text-align: center;
  }
}
