.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #ff2f58;
}

.fa-bell:hover{
  color: $header-tags;
}

.header{
  width: 100%;
  height: 135px;
  box-shadow:0px 0px 5px;
  position: relative;
  &-contents{
    max-width: 1000px;
    margin: 0 auto;
  }
  &-top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $header_border;
    &__left{
      padding-top: 25px;
      &--title{
        font-weight: bold;
        font-family: serif;
        &:hover{
          color: black;
        }
      }
    }
    
    &__right{
      padding-top: 30px;
      display: flex;
      margin-bottom: 5px;
      &--search{
        color: #222;
        background: white;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 0 4px;
        line-height: 38px;
        font-size: 14px;
        outline: none;
        text-align: center;
        &:hover{
          border: 1px solid #a8abb1;
          outline: none;
        }
        @include sm-max{
          display: none;
        }
      }
      &--box{
        margin-left: 20px;
        &:hover{
          outline: 0;
        }
      }
      &__user{
        display: flex;
        &__info{
          line-height: 40px;
          position: relative;
          &--avatar{
            padding: 0 15px;
          }
          &--link{
            cursor: pointer;
          }
          & a:hover{
            color: black;
          }
          &--nickname{
            @include sm-max{
              display: none;
            }
          }
        }
      }
      &--bell{
        display: block;
        padding: 8px 15px;
        color: #333
      }
    }
  }
  &-bottom{
    height: 60px;
    line-height: 60px;
    position: relative;
    &__list{
    display: flex;
    @include md-max{
      justify-content: space-around;
    }
    font-size: 15px;
      & a{
        color: $header_tags;
        @include sm{
          padding: 20px 2px;
        }
        @include md{
          padding: 20px 13px;
        }
        @include lg{
          padding: 20px;
        }
        &:hover{
          color: black;
        }
      }
      &__tags{
        position: absolute;
        right: 0;
        @include md-max{
          display: none;
        }
      }
    }
  }
}

.header-top__box{
  position: absolute;
  top: 44px;
  right: 0px;
  z-index: 2;
  width: 220px;
  border: 1px solid $header_border;
  background-color: white;
  font-size: 15px;
  display: none;
  &--borderTop{
    border-top: 1px solid #EEEEEE;
  }
  &--content{
    display: block;
    min-height: 30px;
    padding: 5px;
    color: black;
    &:hover{
      background-color: #c8c8c8;
    }
  }
}