
// chat_area のScss------------------------------------------------------
.room-show{
  @include common-sizing();
  min-height: 500px;
  margin: 30px auto;
  border: 1px solid $header_border;
  background-color: white;
  color: #333;
  overflow: scroll;
  &__title{
    height: 100px;
    font-size: 25px;
    @include md-max{
      font-size: 18px;
    }
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid $header_border;
    position: relative;
    &--btn{
      position: absolute;
      top: 0;
      left: 10px;
    }
    &:hover a{
      color: #505050;
    }
  }
  &__item {
    margin-top: 10px;
    &--message{
      font-size: 15px;
      background-color: #F5F5F5;
      padding: 0.4rem 1rem;
      border-radius: 1.2rem;
      display: inline-block;
      max-width: 80%;
      margin: 0.5rem;
    }
    &--date{
      padding: 5px 10px;
      color: $header_tags;
    }
    &__right {
      margin: 0.5rem;
      display: flex;
      justify-content: flex-end;
      &--btn{
        padding-top: 8px;
      }
    }
    &__left {
      margin: 0.5rem;
      display: flex;
      justify-content: flex-start;
    }
  }
}
// chat_form のScss------------------------------------------------------
.room-show__form{
  height: 70px;
  width: 100%;
  padding: 10px;
  display: flex;
  border-top: 1px solid $header_border;
  background-color: #bcbcbc;
  position: fixed;
  bottom: 0;
  &__box{
    position: relative;
    margin: 0 auto;
  }
  &--input{
    padding-left: 20px;
    @include common-sizing;
    @include sm-max{
      width: 250px;
    }
    height: 50px;
    border-radius: 100px;
    border: 1px solid #ccc;
    outline: 0;
  }
  &--btn{
    border: none;
    font-size: 1.3rem;
    color: #666;
    background-color: #bcbcbc;
    position: absolute;
    bottom: 7px;
    right: -40px;
  }
}
