.room-index-hover{
  &:hover{
    background-color: #e6e6e6;
  }
}

.room-index{
  width: 800px;
  margin: 0 auto;
  border: 1px solid $header_border;
  background-color: white;
  &__title{
    height: 100px;
    border-bottom: 1px solid $header_border;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
  }
  &__items{
    &__item{
      border-top: 1px solid $header_border;
      height: 100px;
      width: 798px;
      color: #333;
      position: relative;
      &--icon{
        height: 60px;
        width: 60px;
        border-radius: 100px;
        float: left; 
        margin: 20px 20px;
      }
      &__content{
        display: block;
        padding-left: 90px;
        &--body{
          padding: 20px;
        }
        &:hover{
          color: #505050;
        }
        &--message{
          color: $header_tags;
        }
        &--date{
          color: $header_tags;
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
      }
    }
  }
}
