
#preview-area{
  min-height: 300px;
  display: none;
}

#img_field {
  width: 100%;
  height: 100%;
}

.tweet-form{
  @include common-sizing;
  margin: 0px auto 100px;
  font-size: 15px;
  &__title{
    height: 50px;
    &--body{
      height: 50px;
      width: 100%;
      outline: none;
      padding-left: 5px;
      border-radius: 5px;
      border: 1px solid #e6e6e6;
      &:hover{
        border: 1px solid #a8abb1;
      }
    }
  }
  &__text{
    position: relative;
    margin-top: 10px;
    &--body{
      height: 300px;
      width: 100%;
      outline: none;
      padding: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }
    &__btn{
      display: flex;
      justify-content: space-around;
      padding: 20px 0px;
    }
  }
  &--tags{
    padding-bottom: 10px;
  }
  &__bonus{
    &__preview{
      margin: 10px auto;
      background-color: white;
      border: solid 1px #eee;
      color: #666;
      position: relative;
      border-radius: 5px;
      cursor: pointer;
      height: 300px;
      width: 400px;
      @include md-max {
        @include tweet-items(); // 画面縮小時のwidthを指定
      }
      object-fit: cover;
      transition: 0.3s ease-out;
      text-align: center;
      &:hover{
        background-color: gray;
        color: white;
      }
      &--title{
        text-align: center;
      }
      &--image{
        border-radius: 5px;
        height: 300px;
        width: 400px;
        @include md-max{
          @include tweet-items(); // 画面縮小時のwidthを指定
        }
        object-fit: cover;
      }
      &--icon{
        position: absolute;
        top: 32%;
        left: 39%;
      }
    }
  }
  &__submit{
    text-align: center;
    margin-bottom: 30px;
  }
}
