
.tweet-show{
  @include common-sizing;
  margin: 0 auto;
  background-color: white;
  border: 1px solid $header_border;
  padding: 30px;
  // @include sm-max{
  //   padding: 30px 10px;
  // }
  box-shadow: 0px 4px 6px #ccc;
  &__title{
    &__top{
      display: flex;
      justify-content: space-between;
      &--user{
        display: flex;
      }
      &:hover a{
        color: #333;
      }
      &--edit a{
        color: black;
        font-size: 13px;
      }
    }
    &--body{
      display: block;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: serif;
      padding: 30px 0;
    }
    &--date{
      display: flex;
      justify-content: flex-end;
      color: $header_tags;
      font-size: 13px;
    }
  }
  &__content{
    padding: 30px 0;
    &--text{
      font-size: 18px;
      padding: 30px 0;
      border-bottom: 1px solid $header_border;
      h1{
        font-style: serif;
      }
    }
    &--imageBox{
    }
    &--image{
      object-fit: cover;
      width: 100%;
      margin: 0 auto;
    }
    &--tags{
      padding: 40px 0;
    }
    &__donation{
      display: flex;
      justify-content: center;
      &--text{
        text-align: center;
        font-size: 20px;
      }
      &--submit{
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
    }
    &__like{
      display: flex;
      justify-content: center;
      padding: 30px 0;
      &--link{
        margin-left: 20px;
        cursor: pointer;
      }
      &--bgc{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        opacity: 1;
      }
      &__modal{
        width: 300px;
        overflow: scroll;
        top: 10%;
        background-color: white;
        border: 1px solid $header_border;
        position: fixed;
        padding: 30px;
        border-radius: 10px;
        z-index: 3;
      }
      &--user{
        display: flex;
        padding: 10px 0px;
        line-height: 39px;
        &:hover{
          color: #505050;
        }
        &--name{
          padding-left: 10px;
        }
      }
      &--close{
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__user{
      display: flex;
      justify-content: center;
      padding: 30px 0;
      &--top{
        display: flex;
        @include sm-max {
          display: flex;
          flex-direction: column;
        }
        &:hover{
          color: #505050;
        }
      }
      &--avatar{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      &--names{
        padding: 0 20px;
        // padding-right: 20px;
        line-height: 60px;
      }
      &--follow{
        padding-top: 10px;
      }
    }
  }
}