.tweet-index{
  width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  &__title{
    display: none;
    height: 50px;
    width: 100%;
    &--text{
      font-size: 20px;
      border-bottom: 1px solid $header_border;
      text-align: center;
      width: 130px;
      margin: 0 auto;
    }
  }
  &__item{
    display: inline-block;
    width: 460px;
    padding: 30px;
    margin: 2%;
    border: 1px solid $header_border;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 6px #ccc;
    &--image{
      height: 300px;
      width: 400px;
      object-fit: cover;
      background-color: black;
      margin: 20px 0;
    }
    &--title{
      font-size: 18px;
      font-weight: bold;
      color: #333;
      &:hover{
        color: #505050;
      }
    }
    &--sub{
      color: $header_tags;
      font-size: 13px;
    }
    &__footer{
      padding-top: 20px;
      border-top: 1px solid #e1e1e1;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    &--show{
      color: $header_tags;
      font-size: 13px;
      bottom: 5px;
      right: 5px;
      &:hover{
        color: #333;
      }
    }
    &--like{
      bottom: 5px;
      left: 5px;
    }
    &__user{
      display: flex;
      justify-content: space-between;
      position: relative;
      line-height: 40px;
      padding-bottom: 20px;
      &--nickname{
        position: absolute;
        left: 55px;
        top: 0;
        color: #333;
        &:hover{
        color: #505050;
        }
      }
    }
  }
  &--footer{
    padding: 0 400px;
  }
}
