.tags{
  margin: 4px;
}

.tweet-index{
  width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  &__title{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    &--text{
      font-size: 20px;
      border-bottom: 1px solid $header_border;
    }
  }
  &__item{
    display: inline-block;
    width: 460px;
    padding: 30px;
    margin: 2%;
    border: 1px solid $header_border;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 6px #ccc;
    &--image{
      height: 300px;
      width: 400px;
      object-fit: cover;
      background-color: black;
      margin: 20px 0;
    }
    &--title{
      font-size: 18px;
      font-weight: bold;
      color: #333;
      &:hover{
        color: #505050;
      }
    }
    &--sub{
      color: $header_tags;
      font-size: 13px;
    }
    &__footer{
      padding-top: 20px;
      border-top: 1px solid #e1e1e1;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    &--show{
      color: $header_tags;
      font-size: 13px;
      bottom: 5px;
      right: 5px;
      &:hover{
        color: #333;
      }
    }
    &--like{
      bottom: 5px;
      left: 5px;
    }
    &__user{
      display: flex;
      justify-content: space-between;
      position: relative;
      line-height: 40px;
      padding-bottom: 20px;
      &--nickname{
        position: absolute;
        left: 55px;
        top: 0;
        &:hover{
        color: #505050;
        }
      }
    }
  }
  &--footer{
    padding: 0 400px;
  }
}

.new-tweet{
  display: block;
  &__btn{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    bottom: 20px;
    background-color: #26A645;
    border: 1px solid #ccc;
    opacity: 1;
    box-shadow: 0px 4px 6px #ccc;
    transition: all 0.3s ease 0s;
    &:hover{
      color: #333;
    }
  }
  &__text{
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 38%;
    font-size: 16px;
  }
  &__icon{
    position: absolute;
    left: 35%;
    top: 30%;
    font-size: 3rem;
  }
}

.tweet-form{
  width: 800px;
  margin: 0px auto 30px;
  font-size: 15px;
  height: 600px;
  &__title{
    height: 50px;
    &--body{
      height: 50px;
      width: 100%;
      outline: none;
      padding-left: 5px;
      border-radius: 5px;
      border: 1px solid #e6e6e6;
      &:hover{
        border: 1px solid #a8abb1;
      }
    }
  }
  &__text{
    position: relative;
    margin-top: 10px;
    &--body{
      height: 300px;
      width: 100%;
      outline: none;
      padding: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }
  }
  &--tags{
    padding-bottom: 10px;
  }
  &__bonus{
    &__preview{
      margin: 10px auto;
      background-color: white;
      border: solid 1px #eee;
      color: #666;
      position: relative;
      border-radius: 5px;
      cursor: pointer;
      height: 300px;
      width: 400px;
      object-fit: cover;
      transition: 0.3s ease-out;
      text-align: center;
      &:hover{
        background-color: gray;
        color: white;
      }
      &--title{
        text-align: center;
      }
      &--image{
        border-radius: 5px;
        height: 300px;
        width: 400px;
        object-fit: cover;
      }
      &--icon{
        position: absolute;
        top: 32%;
        left: 39%;
      }
    }
  }
  &__submit{
    text-align: center;
    margin-bottom: 30px;
  }
}

.tweet-tags{
  width: 1000px;
  margin: 30px auto;
  border: 1px solid $header_border;
  background-color: white;
  &__title{
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: $header_tags;
    border-bottom: 1px solid $header_border;
    // display: flex;
    &--body{
      font-size: 19px;
      &:hover{
        color: black;
      }
    }
    &__left{
      // padding-right: 260px;
      // padding-left: 20px;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    display: inline-block;
    width: 25%;
    padding: 30px;
    &--btn{
      width: 60%;
    }
    &--link{
      display: flex;
    }
    &--body{
      color: black;
      padding: 8px;
    }
  }
}

.tweet-show{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid $header_border;
  padding: 30px;
  box-shadow: 0px 4px 6px #ccc;
  &__title{
    &__top{
      display: flex;
      justify-content: space-between;
      &--user{
        display: flex;
      }
      &:hover a{
        color: #333;
      }
      &--edit a{
        color: black;
        font-size: 13px;
      }
    }
    &--body{
      display: block;
      font-size: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      padding: 10px 0;
    }
    &--date{
      display: flex;
      justify-content: flex-end;
      color: $header_tags;
      font-size: 13px;
    }
  }
  &__content{
    padding: 30px 0;
    &--text{
      font-size: 18px;
      padding: 30px 0;
      border-bottom: 1px solid $header_border;
    }
    &--imageBox{
      width: 600px;
      margin: 0 auto;
    }
    &--image{
      object-fit: cover;
      max-width: 600px;
      margin: 0 auto;
    }
    &--tags{
      padding: 40px 0;
    }
    &__donation{
      display: flex;
      justify-content: center;
      &--text{
        font-size: 20px;
      }
      &--submit{
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
    }
    &__like{
      display: flex;
      justify-content: center;
      padding: 30px 0;
      &--link{
        padding-left: 20px;
        cursor: pointer;
      }
      &--bgc{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        opacity: 1;
      }
      &__modal{
        width: 300px;
        background-color: white;
        border: 1px solid $header_border;
        position: fixed;
        padding: 30px;
        border-radius: 10px;
        z-index: 3;
        top: 30%;
        right: 39.5%;
      }
      &--user{
        display: flex;
        padding-bottom: 20px;
        line-height: 39px;
        &:hover{
          color: #505050;
        }
        &--name{
          padding-left: 10px;
        }
      }
      &--close{
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__user{
      display: flex;
      justify-content: center;
      padding: 30px 0;
      &--top{
        display: flex;
        &:hover{
          color: #505050;
        }
      }
      &--avatar{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      &--names{
        padding: 0 20px;
        line-height: 60px;
      }
      &--follow{
        padding-top: 10px;
      }
    }
  }
  &__comment{
    border-top: 1px solid $header_border;
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &--text{
      text-align: center;
    }
    &__form{
      display: flex;
      flex-direction: column;
      &__top{
        display: flex;
        justify-content: center;
      }
      &--title{
        padding: 10px 10px;
      }
      &--body{
        margin: 20px;
        height: 100px;
        width: 100%;
        color: #222;
        background: white;
        border: 1px solid #a8abb1;
        border-radius: 5px;
        padding: 5px;
        outline: none;
      }
      &--submit{
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
    }
    &__title{
      padding: 20px 0;
      display: flex;
      justify-content: center;
    }
    &--text{
      padding-left: 50px;
      padding-top: 3px;
    }
    &__items{
      padding: 0px 20px;
    }
    &__item{
      padding: 20px;
      &__top{
        display: flex;
        justify-content: space-between;
        &--user{
          display: flex;
          &:hover{
            color: #505050;
          }
        }
        &--nickname{
          padding: 5px 10px;
        }
        &--date{
        color: $header_tags;
        font-size: 13px;
        }
      }
      &--text{
        padding: 10px;
        font-size: 19px;
      }
      &--edit{
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        &--left{
          padding-right: 10px;
        }
        & a, &:hover a{
          color: #333;
        }
      }
    }
  }
}

.donation{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  opacity: 1;
  &-modal{
    // display: none;
    width: 450px;
    height: 300px;
    border: 1px solid $header_border;
    position: fixed;
    z-index: 3;
    top: 10%;
    right: 34.2%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    &--header{
      height: 50px;
      border-bottom: 1px solid $header_border;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
    }
    &--close{
      display: flex;
      justify-content: flex-end;
    }
    &--body{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      &--input{
        width: 300px;
        padding: 20px 20px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
      }
    }
    &--submit{
      display: flex;
      justify-content: center;
    }
  }
}