.wrapper
  .container
- @rooms.each do |room|
    = link_to room_path(room), class: "empty" do
        .div
            = opened_user(room)
        .div
            = most_new_message_preview(room)

        .div
            = most_new_message_date(room)