@import "config/colors";
@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/tweets";
@import "modules/new";
@import "modules/users";
@import "modules/flash";
@import "modules/header";
@import "modules/notifications";
@import "modules/rooms";

.wrapper{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 5px;
  padding: 30px 0;
}

.container{
  
}

.avatar {
  width: 39px;
  height: 39px;
  border-radius: 100px;
  object-fit: cover;
  padding-bottom: 5px;
  &--text:hover{
    color: #505050;
  }
}

.pagination {
  justify-content: center;
}

.active{
  display: block;
}

.hide{
  display: none;
}

.text-center{
  text-align: center;
}

.color-black{
  color: black;
}

// .chat__scroll {
//   overflow: scroll;
//   height: 400px;
//   width: 1000px;
//   margin: 0 auto;
//   border: 1px solid #000;
// }
