= link_to(notifications_path, class: "header-top__right--bell") do
  - if unchecked_notifications.any?
    %span.fa-stack
      %i.far.fa-bell.fa-lg.fa-stack-2x.black-important
      %i.fas.fa-circle.n-circle.fa-stack-1x
  - else 
    %i.far.fa-bell.fa-lg.black-important